# dependencies
node_modules/

# production build
dist/

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
vite-error.log

# editor
.DS_Store
.vscode/
.idea/

# testing
coverage/
vitest.config.ts.timestamp*

# git configs accidentally created
*.orig

# system
Thumbs.db
