.backdropStyles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modalStyle {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 800px;
  text-align: left;
  overflow: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 100;
  height: 80vh;
}
.modalStyle h2 {
  margin: 0;
}
.modalStyle img {
  width: 200px;
  align-self: center;

}
.modalStyle button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  width: 20px;
  font-weight: 700;
  color: rgb(129, 129, 130);
  font-size: 20px;
  cursor: pointer;
}
.modalStyle p {
  color: rgb(129, 129, 130);
  margin: 0 0 20px 0;
}

 
